.card {
  display: flex;
  // flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 0;
  width: 260px;
  // height: auto;
  background-color: rgba(var(--clr-black-rgb), .4);
  box-shadow: 0 19px 38px rgba(var(--clr-black-rgb), .3), 0 15px 12px rgba(var(--clr-black-rgb), .22);
  border-radius: 25px;
  color: rgba(var(--clr-white-rgb), .8);
  transition: transform .15s ease-in;

  &:hover {
    transform: scale(1.03);
  }

  &__header {
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;

    &-data {
      display: flex;
      align-items: center;
      margin-right: 10px;

      svg {
        height: 30px;
        width: 30px;
      }
    }
  }

  &__body {
    display: flex;
    margin-bottom: 20px;

    &-value {
      font-size: 80px;
      letter-spacing: -0.06em;
      font-weight: 400;
      line-height: 1;
      margin-right: 5px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      line-height: 1;

      &-label {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 12px;
      }

      &-high,
      &-low {
        display: flex;
        align-items: center;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-name {
      margin-bottom: 10px;
      text-align: center;
    }

    &-name,
    &-description {
      text-transform: uppercase;
      font-weight: normal;
    }

    &-description {
      font-size: 12px;
    }

    &-icon {
      height: 100px;
      width: 100px;
    }
  }
}